@import 'variables';
@import 'mixins';

:host {
  @include home-page;

  width: 1000px;
  margin: 0 auto;

  section {
    padding-top: 30px;

    .greeting {
      padding-bottom: 20px;
    }

    .tile {
      position: relative;
      display: inline-block;
      width: 200px;
      height: 150px;
      margin: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 2px;
      background-color: #eee;
      color: #333;
      box-shadow: 1px 1px 2px 0 rgba(150, 150, 150, 0.4);
    }
  }
}
