@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
}

app-root {
  height: 100vh;
  display: flex;
  flex: 1 0 100%;
}
