@import 'variables';
@import 'mixins';

:host {
  @include host-flex;

  .input-password { 
    position: relative;
    width: 100%;

    /deep/ app-input-basic {
      width: 100%;

      .mat-form-field-flex {
        padding-right: 60px;
      }
    }

    .action-button {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}
