<mat-sidenav-container>
  <mat-sidenav 
    #sidenav
    mode="over">
    <mat-action-list>
      <mat-list-item 
        *ngFor="let item of items" 
        (click)="onItemClick(item)">
        <mat-icon matListIcon>{{item.icon}}</mat-icon>
        <h3 matLine>{{item.label}}</h3>
      </mat-list-item>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-top-bar 
      (menuClick)="sidenav.toggle()">
    </app-top-bar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
